In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")
print('NetworkX version: {}'.format(nx.__version__))

NetworkX version: 2.5

In [4]:
df = pd.read_csv('Colleges_and_Universities.csv')
df

,X,Y,OBJECTID,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,ALIAS,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID
0,-97.086483,32.013073,2001,225371,HILL COLLEGE,112 LAMAR DR,HILLSBORO,TX,76645,NOT AVAILABLE,...,NOT AVAILABLE,3,2,2815,1260,4075,1,294,381,10801291
1,-96.498738,32.076066,2002,227146,NAVARRO COLLEGE,3200 W 7TH AVENUE,CORSICANA,TX,75110,NOT AVAILABLE,...,NOT AVAILABLE,4,3,6049,3181,9230,1,800,850,NOT AVAILABLE
2,-101.847103,35.188410,2003,222576,AMARILLO COLLEGE,2011 S. WASHINGTON,AMARILLO,TX,79109,NOT AVAILABLE,...,NOT AVAILABLE,4,4,7074,3121,10195,2,-999,779,NOT AVAILABLE
3,-95.284129,32.336015,2004,229355,TYLER JUNIOR COLLEGE,1400 EAST FIFTH STREET,TYLER,TX,75701,NOT AVAILABLE,...,NOT AVAILABLE,4,4,5584,5909,11493,1,1245,1271,NOT AVAILABLE
4,-97.327948,32.747501,2005,228547,TARRANT COUNTY COLLEGE DISTRICT,1500 HOUSTON ST,FORT WORTH,TX,76102,NOT AVAILABLE,...,TARRANT COUNTY COLLEGE,5,5,36428,14922,51350,2,-999,3786,NOT AVAILABLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7515,-97.057586,32.743991,4996,443854,EVEREST COLLEGE-ARLINGTON,300 SIX FLAGS DRIVE,ARLINGTON,TX,76011,NOT AVAILABLE,...,NOT AVAILABLE,1,1,25,265,290,2,-999,25,NOT AVAILABLE
7516,-122.436157,47.241199,4997,444024,EVEREST COLLEGE-TACOMA,2156 PACIFIC AVENUE,TACOMA,WA,98402,NOT AVAILABLE,...,NOT AVAILABLE,2,1,4,379,383,2,-999,52,NOT AVAILABLE
7517,-84.174179,39.627019,4998,444051,CREATIVE IMAGES INSTITUTE OF COSMETOLOGY-SOUTH...,568 MIAMISBURG-CENTRVILLE RD,DAYTON,OH,45459,NOT AVAILABLE,...,NOT AVAILABLE,-2,1,23,65,88,2,-999,12,NOT AVAILABLE
7518,-80.015825,40.484409,4999,444103,BYZANTINE CATHOLIC SEMINARY OF SAINTS CYRIL AN...,3605 PERRYSVILLE AVENUE,PITTSBURGH,PA,15214,NOT AVAILABLE,...,BCS,18,1,12,13,25,1,26,24,NOT AVAILABLE
7519,-80.608996,34.271620,5000,444228,LEGRAND INSTITUTE OF COSMETOLOGY INC,2418 BROAD ST,CAMDEN,SC,29020,NOT AVAILABLE,...,NOT AVAILABLE,-2,1,-999,31,31,2,-999,8,NOT AVAILABLE

In [5]:
df.groupby('STATE')['NAME']

In [6]:
df1 = df.groupby('STATE')['Y'].min()
df1

STATE
AK    58.385151
AL    30.289528
AR    33.134128
AS   -14.323171
AZ    31.365626
CA    32.581756
CO    33.696957
CT    41.056155
DC    38.885959
DE    38.543072
FL    24.582748
FM     6.959557
GA    30.815677
GU    13.432726
HI    19.701854
IA    40.615966
ID    34.195139
IL    32.383091
IN    37.964249
KS    37.033814
KY    36.605622
LA    29.577810
MA    41.561834
MD    38.188615
ME    43.306823
MH     7.102740
MI    41.892504
MN    43.631832
MO    36.729574
MP    15.152247
MS    30.382294
MT    45.208126
NC    34.038973
ND    46.001037
NE    40.474689
NH    42.738666
NJ    39.348058
NM    32.278068
NV    35.987249
NY    40.573236
OH    38.426128
OK    33.921860
OR    42.185763
PA    39.807725
PR    17.963341
PW     7.342913
RI    41.471545
SC    32.303308
SD    42.784676
TN    35.007264
TX    25.893856
UT    37.092129
VA    36.565714
VI    18.344193
VT    42.839603
WA    45.621523
WI    42.499091
WV    37.265732
WY    41.103874
Name: Y, dtype: float64

In [7]:
df2 = df.groupby('STATE')['Y'].max()
df2

STATE
AK    71.324702
AL    34.856153
AR    36.357704
AS   -14.323171
AZ    36.291756
CA    43.638368
CO    40.636365
CT    41.998409
DC    38.945164
DE    39.817378
FL    42.302449
FM     6.959557
GA    34.963327
GU    13.464992
HI    21.969509
IA    43.421795
ID    47.676459
IL    42.378066
IN    41.882459
KS    39.859980
KY    39.092551
LA    32.628763
MA    42.796434
MD    39.680632
ME    47.250078
MH     7.102740
MI    47.126808
MN    48.590041
MO    40.354476
MP    15.152247
MS    34.992461
MT    48.556728
NC    36.436258
ND    48.883758
NE    42.820562
NH    44.503494
NJ    41.083771
NM    36.771028
NV    40.842533
NY    44.699929
OH    41.888855
OK    36.878213
OR    46.183911
PA    42.219676
PR    18.498652
PW     7.342913
RI    41.936234
SC    35.069758
SD    45.660884
TN    36.615182
TX    47.608289
UT    41.756188
VA    39.166058
VI    18.344193
VT    44.652250
WA    61.196390
WI    46.717548
WV    40.532749
WY    44.764467
Name: Y, dtype: float64

In [8]:
df['col'] = df1 - df2
df.head(5)

,X,Y,OBJECTID,IPEDSID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,SIZE_SET,INST_SIZE,PT_ENROLL,FT_ENROLL,TOT_ENROLL,HOUSING,DORM_CAP,TOT_EMP,SHELTER_ID,col
0,-97.086483,32.013073,2001,225371,HILL COLLEGE,112 LAMAR DR,HILLSBORO,TX,76645,NOT AVAILABLE,...,3,2,2815,1260,4075,1,294,381,10801291,NaN
1,-96.498738,32.076066,2002,227146,NAVARRO COLLEGE,3200 W 7TH AVENUE,CORSICANA,TX,75110,NOT AVAILABLE,...,4,3,6049,3181,9230,1,800,850,NOT AVAILABLE,NaN
2,-101.847103,35.188410,2003,222576,AMARILLO COLLEGE,2011 S. WASHINGTON,AMARILLO,TX,79109,NOT AVAILABLE,...,4,4,7074,3121,10195,2,-999,779,NOT AVAILABLE,NaN
3,-95.284129,32.336015,2004,229355,TYLER JUNIOR COLLEGE,1400 EAST FIFTH STREET,TYLER,TX,75701,NOT AVAILABLE,...,4,4,5584,5909,11493,1,1245,1271,NOT AVAILABLE,NaN
4,-97.327948,32.747501,2005,228547,TARRANT COUNTY COLLEGE DISTRICT,1500 HOUSTON ST,FORT WORTH,TX,76102,NOT AVAILABLE,...,5,5,36428,14922,51350,2,-999,3786,NOT AVAILABLE,NaN